VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_GOOGLE_VERIFICATION=your_google_search_console_verification_token
NOTION_TOKEN=your_notion_integration_token_here
NOTION_DATABASE_ID=your_notion_weapon_database_id_here
NOTION_WW_ITEM_DB_ID=xxxxxxxxxxxx
NOTION_WW_ECHOES_DB_ID=xxxxxxxxxxxx
NOTION_NTE_ITEM_DB_ID=xxxxxxxxxxxx
NOTION_WW_CHARACTER_DB_ID=your_notion_ww_character_database_id_here
